---
import PageLayout from "../layouts/PageLayout.astro";
import Button from "../components/Button/Button.astro";
import Card from "../components/Card/Card.astro";
import { getCollection } from "astro:content";

type ButtonVariant = "primary" | "secondary-warm" | "secondary-neutral";

const components = {
  Button: {
    variants: [
      { name: "primary" as ButtonVariant, component: Button },
      {
        name: "secondary-warm" as ButtonVariant,
        component: Button,
      },
      {
        name: "secondary-neutral" as ButtonVariant,
        component: Button,
      },
    ],
  },
  Card: {
    variants: [{ component: Card }],
  },
};

const allComponents = await getCollection("components");

allComponents.sort((a, b) => {
  const titleA = a.data.title.toLowerCase();
  const titleB = b.data.title.toLowerCase();

  if (titleA < titleB) {
    return -1;
  }
  if (titleA > titleB) {
    return 1;
  }
  return 0;
});
---

<PageLayout>
  <section
    class="abtw:grid abtw:md:grid-cols-3 abtw:sm:grid-cols-2 abtw:gap-8 abtw:grid-cols-1"
  >
    {
      allComponents.map((component) => (
        <a
          href={`/components/${component.data.slug}`}
          class="abtw:group abtw:transition-all abtw:hover:-translate-y-4 abtw:duration-300"
          aria-label={component.data.title}
        >
          <Card>
            <div class="abtw:flex abtw:flex-col abtw:h-full">
              {Object.entries(components).map(([name, { variants }]) => {
                return component.data.title == name ? (
                  <div class="abtw:flex abtw:flex-col abtw:gap-8 abtw:px-12 abtw:pt-4 abtw:h-full abtw:flex-1 abtw:flex-grow">
                    {variants.map((variant) => {
                      const Component = variant.component;
                      const variantName =
                        "name" in variant ? variant.name : undefined;
                      return (
                        <Component variant={variantName}>
                          {variantName ? variantName : name}
                        </Component>
                      );
                    })}
                  </div>
                ) : null;
              })}
              <h2 class="abtw:text-2xl abtw:mt-8 abtw:mb-0 abtw:group-hover:text-[var(--astrobit-primary)] abtw:underline">
                {component.data.title}
              </h2>
              <p class="abtw:text-lg">{component.data.description}</p>
            </div>
          </Card>
        </a>
      ))
    }
  </section>
</PageLayout>
