---
import invariant from "tiny-invariant";
import { keystatic } from "@lib/keystatic/client";
import Button from "./Button.astro";
import ArrowRight from "@lucide/astro/icons/arrow-right";
import Link from "./Link.astro";
import KeystaticImage from "./KeystaticImage.astro";

const i18n = await keystatic.singletons.nav.read({
  resolveLinkedFiles: true,
});
invariant(i18n, "No homepage content found");
---

<div class="fixed top-[15px] right-0 left-0 z-50 px-20">
  <div
    class="max-w-container mx-auto flex h-[90px] w-full items-center justify-between"
  >
    <div class="flex h-full w-[10px] items-center justify-center">
      <div class="h-full max-h-[calc(100%-20px)] w-[5px] bg-black"></div>
      <div
        class="h-full max-h-[calc(100%-10px)] w-[5px] border-y-5 border-y-black bg-white"
      >
      </div>
    </div>
    <nav
      class="grid h-full w-full grid-cols-3 items-center border-y-5 border-y-black bg-white p-[15px]"
    >
      <div class="justify-self-start">
        <a href={i18n.logo.href} aria-label="Go to homepage">
          <KeystaticImage
            src={i18n.logo.image}
            alt={i18n.logo.alt ?? ""}
            class="h-[50px]"
          />
        </a>
      </div>

      <div class="flex items-center justify-center space-x-[50px]">
        {
          i18n.navigationLinks.map((link) => (
            <Link
              href={link.href}
              target={link.newTab ? "_blank" : undefined}
              rel={link.newTab ? "noopener noreferrer" : undefined}
              class="text-lg"
            >
              {link.label}
            </Link>
          ))
        }
      </div>

      {
        i18n.ctaButton.enabled && (
          <div class="justify-self-end">
            <Button
              shadow={false}
              as="a"
              href={i18n.ctaButton.href}
              target={i18n.ctaButton.newTab ? "_blank" : undefined}
              rel={i18n.ctaButton.newTab ? "noopener noreferrer" : undefined}
            >
              {i18n.ctaButton.label} <ArrowRight />
            </Button>
          </div>
        )
      }
    </nav>
    <div class="flex h-full w-[10px] items-center justify-center">
      <div
        class="h-full max-h-[calc(100%-10px)] w-[5px] border-y-5 border-y-black bg-white"
      >
      </div>
      <div class="h-full max-h-[calc(100%-20px)] w-[5px] bg-black"></div>
    </div>
  </div>
</div>
