---
import invariant from "tiny-invariant";
import { keystatic } from "@lib/keystatic/client";
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

const i18n = await keystatic.singletons.nav.read({
  resolveLinkedFiles: true,
});
invariant(i18n, "No homepage content found");
---

<div class="fixed top-[15px] left-0 right-0 z-50">
  <div class="flex items-center justify-between max-w-container mx-auto h-[90px] w-full">
    <div class="w-[10px] h-full flex items-center justify-center">
      <div class="w-[5px] bg-black h-full max-h-[calc(100%-20px)]"></div>
      <div class="w-[5px] bg-white border-y-5 border-y-black h-full max-h-[calc(100%-10px)]"></div>
    </div>
    <nav class="flex items-center justify-between w-full h-full p-[15px] bg-white border-y-5 border-y-black">
      <div class="w-[227px]">
        <img src={i18n.logo.image} alt={i18n.logo.alt ?? ""} class="h-[50px]" />
      </div>

      <div class="flex items-center space-x-[50px]">
        {
          i18n.navigationLinks.map((link) => (
            <a
              href={link.href}
              target={link.newTab ? "_blank" : undefined}
              rel={link.newTab ? "noopener noreferrer" : undefined}
              class="text-lg"
            >
              {link.label}
            </a>
          ))
        }
      </div>
    
      {
        i18n.ctaButton.enabled && (
          <Button
            shadow={false}
            as="a"
            href={i18n.ctaButton.href}
            target={i18n.ctaButton.newTab ? "_blank" : undefined}
            rel={i18n.ctaButton.newTab ? "noopener noreferrer" : undefined}
          >
            {i18n.ctaButton.label} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
          </Button>
        )
      }
    </nav>
    <div class="w-[10px] h-full flex items-center justify-center">
      <div class="w-[5px] bg-white border-y-5 border-y-black h-full max-h-[calc(100%-10px)]"></div>
      <div class="w-[5px] bg-black h-full max-h-[calc(100%-20px)]"></div>
    </div>
  </div>
</div>